/*.bgc{
	border-radius: 20px;
}*/
.bgc:hover{
	box-shadow: 1px 5px 30px 4px #007bff;
}
body{
	background-image: url('http://cdn.wonderfulengineering.com/wp-content/uploads/2014/09/blue-wallpaper-11.jpg');
	/*background-origin: content-box;*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
body{
	font-family: 'Lobster', cursive;
	color: #007bff;
}
.h1{
	font-size: 50px;
	color: #007bff;
	box-shadow: 0px 0px 14px 1px #007bff;
    padding: 5px 10px;
    border-radius: 10px;
}
.card-bgc{
	background-image: url('https://ak4.picdn.net/shutterstock/videos/27423904/thumb/1.jpg');
	/*background-origin: content-box;*/
	background-repeat: no-repeat;
	background-position: center;
	/*background-attachment: fixed;*/
}
h3,img{
	color: white;
}
